@import "./reset.scss";
@import "./variables.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $limegreen;
  background-color: $purple;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  font-family: $fontLora;
  &__credit {
    padding-right: 10px;
  }
  &__quote {
    padding-left: 10px;
  }
}
